<div class="demo-container" mdl-shadow="2">
  <mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>

    <mdl-layout-header>

      <mdl-layout-header-row>

        <mdl-layout-title>EURO LS</mdl-layout-title>

        <mdl-layout-spacer></mdl-layout-spacer>

        <nav class="mdl-navigation">
          <!--mdl-icon mdTooltip="No Connection" *ngIf="!(isConnected | async)">signal_wifi_off</mdl-icon-->

          <mdl-textfield type="text" class="search-box" [(ngModel)]="serialNumber" pattern="-?[0-9]*(\.[0-9]+)?"
            (keyup.enter)="search(serialNumber)" label="Serial Number" maxlength="12" floating-label>
            </mdl-textfield>
            <button mdl-button mdl-colored="accent" class="signout" (click)="logout()"><mdl-icon>exit_to_app</mdl-icon></button>
        </nav>

      </mdl-layout-header-row>

    </mdl-layout-header>

    <mdl-layout-drawer>

      <mdl-layout-title>EURO LS</mdl-layout-title>

      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" *ngFor="let route of routes" routerLink="{{ route.path }}" routerLinkActive="active">
          <mdl-icon>{{ route.icon }}</mdl-icon>
          <span class="nav-text">{{ route.name }}</span>
        </a>
      </nav>

    </mdl-layout-drawer>

    <mdl-layout-content>

      <router-outlet></router-outlet>

    </mdl-layout-content>
  </mdl-layout>
</div>