<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">

    <mdl-card mdl-shadow="2" class="search-box">

      <mdl-card-actions mdl-card-border>

        <mdl-card-title mdl-card-expand>
          <mdl-textfield class="search-box" type="text" label="Search" [(ngModel)]="query" (keyup)="search(query)" placeholder="Search for a forklift"
            autofocus></mdl-textfield>
            <button mdl-button mdl-colored mdl-ripple fab><mdl-icon>search</mdl-icon></button>
        </mdl-card-title>

      </mdl-card-actions>
    </mdl-card>

  </div>

  <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">

    <mdl-card mdl-shadow="2" class="facet" *ngFor="let facet of facets">
      <mdl-card-title>{{facet.name}}</mdl-card-title>

      <mdl-card-supporting-text>
        <li *ngFor="let option of facet.options">
          <a>{{ option }}</a>
        </li>
      </mdl-card-supporting-text>

    </mdl-card>

  </div>
  <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone">

    <div class="mdl-grid result-grid">

      <mdl-card mdl-shadow="2" class="result mdl-cell mdl-cell--12-col-phone" *ngFor="let forklift of forklifts | async">
        <mdl-card-actions [routerLink]="['/inventory', forklift.serialNumber]" class="result-title underline" [style.border-top-color]="getAvailableColor(forklift.serialNumber)" [style.border-bottom-color]="getAvailableColor(forklift.serialNumber)">> 
          <span>{{ forklift.make }} {{ forklift.model }}</span>
        </mdl-card-actions>
      </mdl-card>

    </div>

  </div>
</div>