.search-box {
  width: 100%;
  min-height: 0px;
}

.facet {
  width: 100%;
  margin-bottom: 8px;
  min-height: 0px;
  padding-bottom: 8px;
}

.facet > .mdl-card__title {
  padding-bottom: 0px;
}

.result {
  width: 256px;
  height: 256px;
  margin-right: 1rem;
  background: url(/assets/images/lift.png) center/cover;
}

.result > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  text-align: center;
  cursor: pointer;
  border-top: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
}

.result > a {
  color: white;
}

.result-grid {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin-left: 8px;
  margin-bottom: 2px;
}

li > a {
  color: #337ab7;
}


/* Animation SCSS */
.come-in {
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
          animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.already-visible {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}