.facet {
  width: 100%;
  margin-bottom: 8px;
}

.facet > md-card {
  padding: 20px;
}

.facet > md-card-header {
  margin: 0;
}

.underline {
    border-bottom: 3px solid currentColor;
}

@media (max-width: 480px) {
  .card {
      width: 100%;
      margin: auto;
      margin-bottom: 16px;
      display: inline-block;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .card {
      width: 300px;
      margin: auto 4px;
      margin-bottom: 16px;
      display: inline-block;
  }
}

@media (min-width: 767px) {
  .card {
      width: 300px;
      margin: auto 4px;
      margin-bottom: 16px;
      display: inline-block;
  }
}

.md-card-image {
  width: 300px;
}

.search-card {
  margin-bottom: 8px;
}

.search{
    width:100%; 
    margin: 0px;
    outline: black;
}

.facet-title /deep/ div {
  margin: 0;
}

li {
  list-style-type: none;
  margin-left: 8px;
}


/* Animation SCSS */
.come-in {
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
          animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.already-visible {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}