<md-toolbar color="primary">
  <ng-content select="[logo]"></ng-content>

  <span class="spacer"></span>

  <md-icon class="connected" mdTooltip="No Connection" *ngIf="!(isConnected | async)">signal_wifi_off</md-icon>

  <md-input-container class="search">
    <input md-input placeholder="Search">
  </md-input-container>

  <button md-icon-button class="search-button"><md-icon>search</md-icon></button>

  <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item>
        <md-icon>announcement</md-icon>
        <span>Feedback</span>
      </button>
    <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
    <button md-menu-item>
        <md-icon>exit_to_app</md-icon>
        <span>Logout</span>
      </button>
    <button md-menu-item>
        <md-icon>help_outline</md-icon>
        <span>Help</span>
      </button>
  </md-menu>
</md-toolbar>