<md-toolbar color="primary">

  <ng-content select="[logo]" class="logo-button"></ng-content>
  <span class="title">EURO L.S.</span>

  <span class="spacer"></span>

  <md-icon class="connected" mdTooltip="No Connection" *ngIf="!(isConnected | async)">signal_wifi_off</md-icon>

  <md-input-container class="search">
    <input md-input placeholder="Search">
  </md-input-container>

  <button md-icon-button class="search-button"><md-icon>search</md-icon></button>

  <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item *ngIf="!loggedIn" (click)="login()">
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
    <button md-menu-item *ngIf="loggedIn" (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <span>Logout</span>
      </button>
  </md-menu>
</md-toolbar>