<md-toolbar class="toolbar" color="primary">
    <span class="title">EURO LS</span>
    <span class="spacer"></span>
    <button md-button (click)="login()">
    Sign In
  </button>
</md-toolbar>

<header class="header"></header>
<div class="row">

    <div class="docs-homepage-promo-img">
        <img alt="Sprint from Zero to App" src="assets/images/lift.png">
    </div>

    <div class="text">
      <h2 >Sprint from Zero to App</h2>
      <p >Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>

</div>

<div class="reverse-row row">

    <div class="docs-homepage-promo-img">
        <img alt="Sprint from Zero to App" src="assets/images/lift.png">
    </div>

    <div class="text">
      <h2 >Sprint from Zero to App</h2>
      <p >Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>

</div>

<div class="row">

    <div class="docs-homepage-promo-img">
        <img alt="Sprint from Zero to App" src="assets/images/lift.png">
    </div>

    <div class="text">
      <h2 >Sprint from Zero to App</h2>
      <p >Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>

</div>