<md-toolbar class="toolbar" color="primary">
    <span class="title">EURO LS</span>
    <a href="/login#main"><button md-button>Home</button></a>
    <a href="/login#about"><button md-button>About</button></a>
    <a href="/login#services"><button md-button>Services</button></a>
    <a href="/login#team"><button md-button>Team</button></a>
    <a href="/login#testimonials"><button md-button>Testimonials</button></a>
    <a href="/login#contact"><button md-button>Contact</button></a>
    <span class="spacer"></span>
    <button md-button (click)="login()">
    Sign In
  </button>
</md-toolbar>

<section id="main" class="red-background">

    <div class="red-background">
        <div class="container">
            <h2>(( Need To Put Something Here))</h2>
            <div class="row">
                <h2>(( Need To Put Something Here))</h2>
            </div>
        </div>
    </div>

</section>

<section id="about" class="red-background">

    <div class="container red-background">
        <h2>About Us</h2>
        <div class="row">

        </div>
    </div>

</section>

<section id="services">
    <div class="container">
        <h2>Services</h2>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <img class="img-responsive center-block image" alt="Repair services" src="assets/svg/wrench.svg">
                <h3>Dependable Services</h3>
                <p>Providing quality mechanical support staff wherever you are!</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <img class="img-responsive center-block image" alt="Finish Line" src="assets/svg/flag.svg">
                <h3>Quality from Start to Finish</h3>
                <p>Our staff will not stop until all your solutions are met.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <img class="img-responsive center-block image" alt="Number one for your schedule" src="assets/svg/calendar.svg">
                <h3>#1 for your Schedule</h3>
                <p>We will work around your schedule. Providing housecalls wherever you are.</p>
            </div>

        </div>
    </div>
</section>

<section id="team" class="red-background">
    <div class="container red-background">
        <h2>Team</h2>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <!--img class="img-responsive center-block img-circle"-->
                <div class="img-responsive center-block img-circle white-img"></div>
                <h3>Armando</h3>
                <h4>Founder</h4>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <!--img class="img-responsive center-block img-circle"-->
                <div class="img-responsive center-block img-circle white-img"></div>
                <h3>Tony</h3>
                <h4>Manager</h4>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <img class="img-responsive center-block img-circle" src="assets/images/frank.png">
                <h3>Frank</h3>
                <h4>Manager</h4>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <!--img class="img-responsive center-block img-circle"-->
                <div class="img-responsive center-block img-circle white-img"></div>
                <h3>Max</h3>
                <h4>Technician</h4>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <!--img class="img-responsive center-block img-circle"-->
                <div class="img-responsive center-block img-circle white-img"></div>
                <h3>Rejean</h3>
                <h4>Technician</h4>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <!--img class="img-responsive center-block img-circle"-->
                <div class="img-responsive center-block img-circle white-img"></div>
                <h3></h3>
                <h4>Technician</h4>
            </div>

        </div>

    </div>
</section>

<section id="testimonials">
    <div class="container">
        <h2>Testimonials</h2>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-responsive center-block img-circle">
                    <md-icon style="color:#EF5350;font-size: 128px;">star</md-icon>
                </div>

                <h4>Courteous people happy to help</h4>
                <h3><a href="https://www.google.ca/url?sa=t&rct=j&url=https%3A%2F%2Fwww.google.com%2Fmaps%2Fcontrib%2F111152080861648124592%2Freviews&source=maps&ei=P-GsWM_PDuacjwS7qon4Ag%3A38&cd=1&usg=AFQjCNGOCMigKW6PL9UKahjfIeYSRA7S5A&sig2=4AohaFNxXOxPfk-fSJihAQ&ved=1t%3A21866%2Cp%3AP-GsWM_PDuacjwS7qon4Ag">Patrick G.</a></h3>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-responsive center-block img-circle">
                    <md-icon style="color:#EF5350; font-size: 128px;">star</md-icon>
                </div>

                <h4>Bon Service Great People</h4>
                <h3><a href="https://www.google.ca/url?sa=t&rct=j&url=https%3A%2F%2Fwww.google.com%2Fmaps%2Fcontrib%2F100928592785840602189%2Freviews&source=maps&ei=P-GsWM_PDuacjwS7qon4Ag%3A38&cd=1&usg=AFQjCNHNX5HI883A4CO0JiKamE1rZB3EnA&sig2=vez920MpXZPjDvtUp4Qe0w&ved=1t%3A21866%2Cp%3AP-GsWM_PDuacjwS7qon4Ag">Maxime C.</a></h3>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-responsive center-block img-circle">
                    <md-icon style="color:#EF5350;font-size: 128px;">star</md-icon>
                </div>

                <h4>Meilleur service en ville. Personnel compétent et souriant. Je le recommande à tout le monde.</h4>
                <h3><a href="https://www.google.ca/url?sa=t&rct=j&url=https%3A%2F%2Fwww.google.com%2Fmaps%2Fcontrib%2F110287305218620282273%2Freviews&source=maps&ei=P-GsWM_PDuacjwS7qon4Ag%3A41&cd=1&usg=AFQjCNEKAYke-zvPlbWUa1-BpYMzhQFwpg&sig2=ELLBh21bo_gGWST5Z_MPpg&ved=1t%3A21866%2Cp%3AP-GsWM_PDuacjwS7qon4Ag">Remi M.</a></h3>
            </div>

        </div>

    </div>
</section>

<section id="contact" class="red-background">
    <div class="container red-background">
        <h2>Come Visit Us!</h2>

        <div class="reverse-row row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vertical-align-address">

                <h3>2750 Rue Halpern</h3>
                <h4>Saint-Laurent, QC H4S 1R6</h4>
                <h4>(entrance corner Halpern and Bessette)</h4>
                <h3>(514) 335-4070</h3>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="map" alt="Shop Location" src="assets/images/location.png">
            </div>

        </div>
    </div>
</section>