<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>

    <mdl-layout-header>
        <mdl-layout-header-row>
            <mdl-layout-title>EURO LS</mdl-layout-title>

            <mdl-layout-spacer></mdl-layout-spacer>


            <nav class="android-navigation mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login#about">About</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login#services">Services</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login#contact">Contact</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" (click)="login()">Sign In</a>
            </nav>

        </mdl-layout-header-row>
    </mdl-layout-header>

    <mdl-layout-content>
        <div id="about" class="section">
            <div class="android-section-title mdl-typography--display-1-color-contrast">About</div>
            <div class="mdl-grid">

                <mdl-card mdl-shadow="3" class="mdl-cell mdl-cell--12-col">
                    <mdl-card-media>
                        <img class="image" src="assets/images/building.png">
                    </mdl-card-media>
                    <mdl-card-title>
                        <h2 mdl-card-title-text>Humble Beginnings</h2>
                    </mdl-card-title>
                    <mdl-card-actions>
                        <p>EURO LS was founded in 1982 by Armando Giordano. Armed with a vision of providing quality service
                            to anyone needing a lift.</p>
                    </mdl-card-actions>
                </mdl-card>

            </div>
        </div>

        <div id="services" class="section">
            <div class="android-section-title mdl-typography--display-1-color-contrast">Services</div>
            <div class="mdl-grid">

                <mdl-card mdl-shadow="3" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <mdl-card-media>
                        <img class="image" src="assets/svg/wrench.svg">
                    </mdl-card-media>
                    <mdl-card-title>
                        <h2 mdl-card-title-text>Dependable Services</h2>
                    </mdl-card-title>
                    <mdl-card-actions>
                        <p>Providing quality mechanical support staff wherever you are!</p>
                    </mdl-card-actions>
                </mdl-card>

                <mdl-card mdl-shadow="3" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <mdl-card-media>
                        <img class="image" src="assets/svg/flag.svg">
                    </mdl-card-media>
                    <mdl-card-title>
                        <h2 mdl-card-title-text>Quality from Start to Finish</h2>
                    </mdl-card-title>
                    <mdl-card-actions>
                        <p>Our staff will not stop until all your solutions are met.</p>
                    </mdl-card-actions>
                </mdl-card>

                <mdl-card mdl-shadow="3" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <mdl-card-media>
                        <img class="image" src="assets/svg/calendar.svg">
                    </mdl-card-media>
                    <mdl-card-title>
                        <h2 mdl-card-title-text>#1 for your Schedule</h2>
                    </mdl-card-title>
                    <mdl-card-actions>
                        <p>We will work around your schedule. Providing housecalls wherever you are.</p>
                    </mdl-card-actions>
                </mdl-card>

            </div>
        </div>

        <div id="contact" class="section">
            <div class="android-section-title mdl-typography--display-1-color-contrast">Come Visit Us!</div>

            <div class="mdl-grid">
                <mdl-card mdl-shadow="3" class="mdl-cell mdl-cell--12-col">
                    <mdl-card-title>
                        <h2 mdl-card-title-text>EURO LS</h2>
                    </mdl-card-title>
                    <mdl-card-supporting-text>
                        <p class="mdl-typography--font-light">
                            2750 Rue Halpern<br>Saint-Laurent, QC H4S 1R6<br>(entrance corner Halpern and Bessette)<br>(514)
                            335-4070
                            <br>
                        </p>
                    </mdl-card-supporting-text>

                    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
                        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
                        <!--sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions-->
                    </sebm-google-map>

                    <mdl-card-actions>
                        <button mdl-button mdl-colored mdl-ripple>Directions</button>
                    </mdl-card-actions>
                </mdl-card>
            </div>
        </div>

        <footer class="android-footer mdl-mega-footer">
            <div class="mdl-mega-footer--top-section">
                <div class="mdl-mega-footer--left-section">
                    <button class="mdl-mega-footer--social-btn"></button> &nbsp;
                    <button class="mdl-mega-footer--social-btn"></button> &nbsp;
                    <button class="mdl-mega-footer--social-btn"></button>
                </div>
            </div>
        </footer>

    </mdl-layout-content>
</mdl-layout>