<div class="container-fluid">

    <div class="col-md-12 col-xs-12 col-lg-12">

      <md-card>
        <md-card-header>
          <md-input-container class="search">
            <input md-input #term placeholder="Search" [(ngModel)]="query" (keyup)="search(query)">
          </md-input-container>
          <button md-icon-button class="search-button"><md-icon>search</md-icon></button>
        </md-card-header>
      </md-card>

    </div>

    <div class="col-xs-12 col-md-3 col-lg-2">

      <md-card *ngFor="let facet of facets" class="facet">
        <md-card-header class="facet-title">{{facet.name}}</md-card-header>
        <md-card-content>
          <li *ngFor="let option of facet.options">
            <a>{{ option }}</a>
          </li>
        </md-card-content>
      </md-card>

    </div>

    <div class="col-xs-12 col-md-9 col-lg-6">

      <md-card *ngFor="let item of results | async">
        <md-card-header><a>{{ item }}</a></md-card-header>
        <md-card-content>
          Some Description
        </md-card-content>
      </md-card>

    </div>

</div>