<div class="mdl-grid">


  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">

      <mdl-card mdl-shadow="2">
        <mdl-card-actions class="result-title underline" [style.border-bottom-color]="getAvailableColor(forklift.serialNumber)">> 
          <span>{{ forklift.make }} {{ forklift.model }}</span>
        </mdl-card-actions>
      </mdl-card>

  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">

    <mdl-card mdl-shadow="2" >


    </mdl-card>

  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">

    <mdl-card mdl-shadow="2" >


    </mdl-card>

  </div>

  <div class="mdl-cell mdl-cell--12-col">

    <mdl-card mdl-shadow="2" >


    </mdl-card>

  </div>
</div>

<!--div class="row come-in">
  <div class="col-lg-4 col-md-6 col-sm-6 col-ms-6">

    <md-card class="card">
      <md-card-title class="underline" [style.border-bottom-color]="getAvailableColor()">{{ lift.make }} {{ lift.model }}</md-card-title>
      <img md-card-image [alt]="lift.model" class="md-card-image" src="assets/images/lift.png">

      <md-card-actions>
        <button md-button>Edit</button>
        <button md-button (click)="toggleAvailability()">
        <span> {{ lift.available === true ? "Out" : "In" }}</span>
      </button>
      </md-card-actions>
    </md-card>

  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 col-ms-6">

    <md-card class="card">
      <md-card-title>Details</md-card-title>
      <md-card-content>

        <p><b>Year:</b> {{ lift.year }}</p>
        <p><b>Serial Number:</b> {{ lift.serialNumber }}</p>
        <p><b>Type:</b> {{ lift.type }}</p>

      </md-card-content>
    </md-card>

  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 col-ms-6">

    <md-card class="card">
      <md-card-title>Specifications</md-card-title>
      <md-card-content>

        <p><b>Approx Lowered Height:</b> {{ lift.specifications.approximateLoweredHeight }} in</p>
        <p><b>Approx Max Height:</b> {{ lift.specifications.approximateMaxHeight }} in</p>
        <p><b>Approx Width:</b> {{ lift.specifications.approximateWidth }} in</p>
        <p><b>Approx Length:</b> {{ lift.specifications.approximateLength }} in</p>
        <p><b>Capacity:</b> {{ lift.specifications.capacity }} Ibs</p>
        <p><b>Mast Stage:</b> {{ lift.specifications.mastStage }}</p>

      </md-card-content>
    </md-card>

  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 col-ms-6">

    <md-card class="card">
      <md-card-title>Tires</md-card-title>
      <md-card-content>

        <p><b>Front:</b>{{ lift.tires.frontSize.outsideDiameter }}x{{ lift.tires.frontSize.width }}x{{ lift.tires.frontSize.insideDiameter
          }}
        </p>
        <p><b>Back:</b>{{ lift.tires.backSize.outsideDiameter }}x{{ lift.tires.backSize.width }}x{{ lift.tires.backSize.insideDiameter
          }}
        </p>

        <p><b>Color:</b> {{ lift.tires.color }}</p>
        <p><b>Type:</b> {{ lift.tires.type }}</p>

      </md-card-content>
    </md-card>

  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 col-ms-6">

    <md-card class="card">
      <md-card-title>Purchased</md-card-title>
      <md-card-content>

        <p><b>Date:</b> {{ lift.purchased.purchaseDate | date }}</p>
        <p><b>Price:</b>${{ lift.purchased.purchasePrice }}</p>
        <p><b>From:</b> {{ lift.purchased.purchasedFrom | default }}</p>

      </md-card-content>
    </md-card>

  </div>
</div>

<div class="row come-in">
  <div class="col-lg-12 col-md-12 col-sm-12 col-ms-12">

    <md-card class="card">
      <md-card-title>Repairs and Maintenance</md-card-title>
      <md-card-content>

        <ngx-datatable class="material" [rows]="lift.history" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="10">
          </ngx-datatable>

      </md-card-content>
    </md-card>

  </div>
</div-->