<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">

    <mdl-card mdl-shadow="2">
      <mdl-card-actions class="result-title underline" [style.border-bottom-color]="getAvailableColor(forklift.serialNumber)">>
        <span>{{ forklift.make }} {{ forklift.model }}</span>
      </mdl-card-actions>
    </mdl-card>

  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">

    <mdl-card mdl-shadow="2">


    </mdl-card>

  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">

    <mdl-card mdl-shadow="2">


    </mdl-card>

  </div>

  <div class="mdl-cell mdl-cell--12-col">

    <mdl-card mdl-shadow="2">

      <mdl-table mdl-shadow="2" [table-model]="historyModel"></mdl-table>

    </mdl-card>

  </div>
</div>